@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
    margin : 0;
    font-family: 'Noto Sans', sans-serif;
    
}
.main-container{
    margin: 0;
    width: 100vw;
}
.nav-bar-heading{
    font-family: "Source Sans", sans-serif;
    color: rgb(39, 65, 135);
    font-weight: 750;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    margin-left: 100px;

}
.heading{
    margin: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start
}
@media only screen and (max-width : 1000px) {
    .typed{
        display: none;
    }
}
.logo {
    height: 100px;
    
}

.menu {
    --menu-height: 30px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
  }
  .menu ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: white;
  }
  .menu ul li, .menu ul li a {
    opacity: 0.8;
    color: #211D93;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
  }
  .menu ul li:hover, .menu ul li a:hover {
    opacity: 1;
  }
  .menu ul li a, .menu ul li a a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .menu ul li {
    padding-right: 36px;
  }
  .menu ul li::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #211D93;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu ul li::before:hover {
   transform: rotate(180deg);
  }

  .menu ul .link::before {
    padding-right: 0;
    display: none;
  }
  .menu > ul {
    display: flex;
    height: var(--menu-height);
    align-items: center;
    background-color: #F9F9F9;
  }
  .menu > ul li {
    position: relative;
    margin: 0 8px;
  }
  .menu > ul li ul {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    min-width: 160px;
    position: absolute;
    top: calc(var(--menu-height) + 5px);
    left: 50%;
    transform: translateX(-50%);
    transition: 200ms;
    transition-delay: 200ms;
  }
  .menu > ul li ul li {
    margin: 0;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding-right: 40px;
  }
  .menu > ul li ul li::before {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #211D93;
    
  }
  .menu > ul li ul li ul {
    top: -2%;
    left: 100%;
    transform: translate(0);
  }
 
  .menu > ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;
  }


  .banner{
    background-color: #f2f2f2;
    padding:15px 0;
    display: flex;
    justify-content: center;
  }
  .banner img {
    padding: 5px;
    width: 70%;
    border : 1px solid #000000;
  }
.lab-title{
    color: #fdfdfd;
    background-color: #211d70;
    padding: 7px 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3rem;
    /* color: #ffffff; */
    letter-spacing: -1px;

}
@media screen and (max-width: 480px) {
  .lab-title {
    padding: 5px 3px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
  }
 
}

@media screen and (max-width: 900px) {
  .news-section {
    width: 100%;
  }
}
.sub-heading{
    color : #211d70;
    font-size: 2.4rem;
    font-weight: 500;

}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding: 0 6vh;
    
}
.people a {
  text-decoration:none;
}
.people{
  margin-top: 2rem;

}
ul{
  list-style-type: square;
  color :#211d70
}
.link{
  text-decoration: none;
}
.image-holder {
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  
}